.list {
    &__title {
        h2 {
            font-family: "Roboto-Medium";
            margin-bottom: 10px;
            font-weight: 400;
            font-size: 22px;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}

.item {
    margin-bottom: 10px;
}