.product {
    flex: 48%;

    &__img {
        border-radius: 10px;
        background-color: #EAEAEA;
        padding: 20px;
        margin-bottom: 5px;

        img {
            width: 120px;
            height: auto;
        }
    }

    &__price {
        font-family: "Roboto";
        font-size: 16px;
        margin-bottom: 3px;
    }

    &__title {
        font-family: "Roboto-Regular";
        font-size: 14px;
        margin-bottom: 3px;
    }

    &__description {
        font-size: 10px;
        margin-bottom: 3px;
        color: #999;
    }

    &__add-btn {}
}